<!DOCTYPE html>
<html>

<head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <%=link_to root_path do%>
    <h2 style="color:black">Members Only</h2>
    <%end%>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path%>
    <%= link_to "Logout", destroy_user_session_path, method: :delete%>
    <%else%>
    <%= link_to 'Sign In', new_user_session_path%>
    <%= link_to 'Sign Up', new_user_registration_path%>
    <%end%>

    <%= yield %>
</body>

</html>